doctype
html
	head
		title	Backbone Authentication Tutorial
		link(rel="stylesheet", type="text/css", href="libs/bootstrap/docs/assets/css/bootstrap.css")
		script(type="text/javascript", data-main='scripts/main', src="libs/requirejs/require.js")
		script(type="text/javascript").
			var csrf = "#{csrf}"
	body
		div.container