<div class="row">
    <div class="col-md-3">
        <div class="list-group" style="margin-top: 25px;margin-left: 15px;">
            <a href="#" class="list-group-item active">Profile</a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#home" class="list-group-item home">Home</a>
            <a href="#" class="list-group-item logout">Logout</a>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Profile Page: <%=firstName%> <%=lastName%></h2>
    </div>
</div>
